body {
    background: black;
    float: inline-start;
    position: inherit;
    text-align: center;
    color: white;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #AD91FF solid !important;
    line-height: 23px;
    margin-top: 50px;
}
#pfp {
    border-radius: 100%;
}
h1 {
text-align: center;
color: black;
font-family: courier;
font-size: 100%;
border-left: 6px solid rgb(255, 255, 255);
background-color: white;
padding: 30px;
margin: 50px;
}
.container {
font-family: 'Courier New', Courier, monospace;
font-size: 130%;
top: 50%;
left: 50%;
}
.note {
color: rgb(15, 157, 252);
}
.note1 {
color: rgb(14, 205, 238);
border-radius: 30px;
line-height: 3;
border: 1px solid rgb(14, 205, 238);
padding: 5px;
margin: 10px;
}
.note2 {
color: rgb(250, 75, 92);
border-radius: 30px;
line-height: 3;
border: 1px solid rgb(250, 75, 92);
padding: 5px;
margin: 10px;
}
.note3 {
color: sandybrown;
border-radius: 30px;
line-height: 3;
border: 1px solid sandybrown;
padding: 5px;
margin: 10px;
}
.note4 {
color: rgb(132, 248, 116);
border-radius: 30px;
border: 1px solid rgb(132, 248, 116);
padding: 5px;
margin: 10px;
}
.note5 {
color: rgb(247, 56, 167);
border-radius: 30px;
line-height: 3;
border: 1px solid rgb(247, 56, 167);
padding: 5px;
margin: 10px;
}
.footer {
overflow: hidden;
font-size: 12px;
font-family: cursive;
position: relative;
margin-top: 20rem;
}